<% layout('layout') -%>
<div class="header pure-button-error">
<h1>Peanut Butter!</h1>
<h2>Error Time!</h2>
</div>
<div class="content">
<p><strong>Something has gone frightfully wrong</strong> </p>
</div>