<% layout('layout') -%>
<h1 class="brand-title">Ok so now you're logged in</h1>
<h2 class="brand-tagline">Big whoop</h2>
<p><strong>You now need</strong> to press some buttons on the left. <a href="/start">Start</a> creates your own game that you can then invite people into. If someone has already set a game up, you can <a href="/join">Join</a> it, only if you have the <strong>key</strong>(a code word) to get in.<p>
<p style="text-align:center"><img src="http://bite-prod.s3.amazonaws.com/wp-content/uploads/2013/01/BMO.gif" /></p>