<% layout('layout') -%>
<div class="hero">
    <div class="hero-titles">
        <h1>Kumiageru.it</h1>
        <h2>It's like Pictionary but better</h2>
    </div>

    <div class="hero-cta">
      <pre class="snippet"><strong>A race</strong> to guess what the drawing is.</pre>

        <p>
            <a class="pure-button pure-button-cta" href="/auth/twitter"><i class="icon-twitter icon-large"></i> Sign in</a>
        </p>
    </div>
    <div class="content">
<p style="text-align:center"><img class="bordered" src="/images/tumblr_moacsxbTtm1rrsa2po1_r1_500.gif" /></p>
    </div>
</div>