<% layout('layout') -%>
<div class="header pure-button-error">
<h1 style="color:white">Please sign in first</h1>
<h2 style="color:white">Then we'll talk about it.</h2>
</div>
<div class="content">
        <p style="text-align:center">
            You need to use Tweeeter. <a class="pure-button pure-button-cta" href="/auth/twitter"><i class="icon-twitter icon-large"></i> Sign in</a>
        </p>
<p style="text-align:center"><img class="bordered" src="http://25.media.tumblr.com/ca0af7370df22d8626a56e4c2c658064/tumblr_mugdl2IzHN1skeosio1_500.gif" /></p>
</div>